
// ------------------reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
// ------------------general
.debug{
  background-color: rgba(255, 0, 0, 0.26);
  border: 1px solid black;
}

@mixin FlexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  // background-color: black;
}

#main_wrapper{
  width: 100%;
  min-height: 300px;
  font-family: 'Oswald', sans-serif;
}

.container{
  margin: auto;
  width: 80%;
  height: 100%;
  max-width: 1400px;
}

.merch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 150px;
    background-color: rgb(2, 130, 249);
  }
  .merch .container {
    @include FlexCenter;
    width: 75%;
    max-width: calc(1400px - 5%);
  }

  img{
    width: 50px;
  }

  .merch_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 5);
  }
